body{
   background: var(--background-style);
   cursor: cell;
   height: 100%;
}
#iframeforgames{
  background: var(--background-style);
  cursor: cell;
}

.gameframe{
   height: 290px;
  width: 220px;
  border-radius: 15px;
  cursor: cell;
  text-decoration: none;
  align-items: center;
  display: inline-block;
  border: 3px solid var(--color-1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.gameframe img{
  height: 216px;
  width: 216px;
  border: 3px solid var(--color-1);
  border-radius: 15px;
  transition: transform 0.35s;
  loading: lazy;
  background-color: var(--color-1);
}
.gameframe img:hover{
  transform: scale(0.925);
}
.gameframetext{
  display: none;
  clear: both;
  text-align: center;
  color: white;
  font-size: 14px;
  width: 100%;
  position: absolute;
  z-index: 2;
  margin:0;
  top:50%;
  transform:translateY(-50%);
}
  
  .gameframetext:hover {
  display: block;
  opacity: 1;
}
.topbar-navigation {
  border-bottom: 2px solid var(--color-1);
  background: black;
  overflow: hidden;
  
  position: sticky;
  cursor: cell;
  z-index: 99999;
}
.topbar-navigation a{
  cursor: cell;
  color: var(--color-1);
  background-color: black;
  float: left;
  display: flex;
  height: 3em;
  width: 8em;
  font-size: 16px;
  border-radius: 20px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  text-decoration: none;
border: 2px solid var(--color-1);
}
.topbar-navigation a{transition-duration: 0.2s}
.topbar-navigation a:hover{
  cursor: cell;
  color: var(--color-2);
  background-color: var(--color-1);
  float: left;
  display: flex;
  height: 3em;
  width: 8em;
  font-size: 16.5px;
  border-radius: 20px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.topbar-navigation a.current-page{
  cursor: cell;
  color: var(--color-2);
  background-color: var(--color-1);
  float: left;
  display: flex;
  height: 3em;
  width: 8em;
  font-size: 16px;
  border-radius: 20px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.topbar-navigation a.current-page{transition-duration: 0.2s}
.topbar-navigation a.current-page:hover{
  cursor: cell;
  color: var(--color-2);
  background-color: var(--color-1);
  float: left;
  display: flex;
  height: 3em;
  width: 8em;
  font-size: 16.5px;
  border-radius: 20px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
button{
  cursor: cell;
  color: var(--color-1);
  background-color: black;
  float: left;
  display: flex;
  height: 3em;
  width: 8em;
  font-size: 16px;
  border-radius: 20px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  text-decoration: none;
border: 2px solid var(--color-1);
  transition-duration: .25s;
}
button:hover{
  height: 3.1em;
  width: 8.2em;

}
.button{
float: none;
  color: var(--color-1);
  background-color: black;
  align-items: center;
  justify-content: center;
  margin: 4px 2px;
  font-weight: 400;
  cursor: cell;
  height: 3em;
  width: 8em;
  display: flex;
  transition-duration: .25s;
  text-decoration: none;
border: 2px solid var(--color-1);
}
.button:hover{
  float: none;
  color: var(--color-2);
  background-color: var(--color-1);
  align-items: center;
  justify-content: center;
  margin: 4px 2px;
  font-weight: 400;
  cursor: cell;
  height: 3.1em;
  width: 8.2em;
  display: flex;
  text-decoration: none;
}
  h1 {
  font-family: monospace;
  color: #ffffff;
  font-size: 28px;
}
.rotating-text {
  animation: rotateText 2.75s linear infinite; 
  animation-fill-mode: forwards;
}

@keyframes rotateText {
  0% { transform: translateX(140%); } 
  50% { transform: translateX(0); } 
  100% { transform: translateX(-140%); } 

}



p {
  font-family: monospace;
  color: #ffffff;
  font-size: 18px;
}
.gameframe p{
  padding-bottom: 10px;
}
h2 {
  font-family: monospace;
  color: #ffffff;
  font-size: 34px;
}
h3 {
  font-family: monospace;
  color: #ffffff;
  font-size: 130px;
}
h4 {
  font-family: monospace;
  color: #ffffff;
  font-size: 22px;
  padding-bottom: 6px;
}
#modebutton{
  position: fixed;
  top: 10px;
  right: 10px;
   z-index: 1000000;
}

#leftFloatAd{
  position: fixed;
      top: 75px;
      left: 15px;
      width: 120px;
      height: 610px;
      cursor: cell;
}
#rightFloatAd{
  position: fixed;
      top: 75px;
      right: 15px;
      width: 120px;
      height: 610px;
      cursor: cell;
}
#leftFloatAdWide{
  position: fixed;
      top: 75px;
      left: 15px;
      width: 240px;
      height: 610px;
      cursor: cell;
}
#rightFloatAdWide{
  position: fixed;
      top: 75px;
      right: 15px;
      width: 240px;
      height: 610px;
      cursor: cell;
}
#footer{
  bottom: 0;
  padding-top: 160px;
  align-content: center;
}